<div>
  <span x-large>Your Content Here</span>
  <form (ngSubmit)="submitState(localState.value)">
    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" type="text"
             [value]="localState.value"
             (input)="localState.value = $event.target.value"
             autofocus>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--raised">Submit Value</button>
  </form>
  <!--
    Rather than wiring up two-way data-binding ourselves with [value] and (input)
    we can use Angular's [(ngModel)] syntax
    <input type="text" [(ngModel)]="localState.value" autofocus>
  -->
  For hot module reloading run
  <pre>npm run start:hmr</pre>
  <hr>
  <pre class="language-markup">this.localState = {{ localState | json }}</pre>
  <p class="home-date">{{ date | date:'medium'}}</p>

  <!--<h1>Users</h1>-->
  <!--<table class="mdl-data-table mdl-js-data-table  mdl-shadow&#45;&#45;2dp">-->
    <!--<thead>-->
    <!--<tr>-->
      <!--<th>id</th>-->
      <!--<th class="mdl-data-table__cell&#45;&#45;non-numeric">Username</th>-->
      <!--<th class="mdl-data-table__cell&#45;&#45;non-numeric">Roles</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr *ngFor="#user of userslist" [class.superuser]="user.superuser">-->
      <!--<td>{{user.id}}</td>-->
      <!--<td class="mdl-data-table__cell&#45;&#45;non-numeric" (click)="onClick(user.username)">-->
        <!--{{user.username}}-->
        <!--<span *ngIf="user.superuser">(superuser)</span>-->
      <!--</td>-->
      <!--<td class="mdl-data-table__cell&#45;&#45;non-numeric">{{user.roles.join(', ')}}</td>-->
    <!--</tr>-->
    <!--</tbody>-->
  <!--</table>-->

</div>
